<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--  jquey CDN-->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>
<button onclick="ex07Fn()">ex07함수호출</button>
</body>
<script>
  const ex07Fn = () => {
    // location.href="ajax-ex-01.html";
      const val1 = "this is ex07";
      const params ={
          param1: val1,
          param2: "hola~"
      };
    $.ajax({
      //요청방식 : post
      //요청주소 : /ex07
      type : "post",
      url : "/ex07",
        data: JSON.stringify(params), //json으로 변환
        contentType: "application/json", //json으로 날라간다.는 표현
      //요청이 성공했을때 실행되는 부분
      success : function (res){
        console.log("성공",res);
        console.log("param1 : ",(res.param1));
      },
      //요청이 실패했을 때 사용되는 부분
      error: function (){
        console.log("실패");
      }
    })
  }
</script>
</html>