<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--  jquey CDN-->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
</head>
<body>
<button onclick="ex03Fn()">ex03 함수호출</button>
</body>
<script>
    const val1 = "hello everyone";
    const ex03Fn = () => {
    // location.href="ajax-ex-01.html";
    $.ajax({
      //요청방식 : get
      //요청주소 : /ex03
      type : "get",
      url : "/ex03",
        //param주고 싶을때 data{} 사용.
        data:{
          "param1" : val1,
            "param2" : "hi!"
        },
      //요청이 성공했을때 실행되는 부분
      success : function (res){
        console.log("성공",res);
      },
      //요청이 실패했을 때 사용되는 부분
      error: function (){
        console.log("실패");
      }
    })
  }
</script>
</html>